@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(238, 238, 238);
}

.title {
    float: left;
    margin: 10px 0px;
    background: rgb(253, 171, 29);
    background: linear-gradient(90deg, rgba(253, 171, 29, 0.4906337535014006) 2%, rgba(253, 29, 29, 1) 100%);
    width: 240px;
    border: solid rgb(255, 102, 0);
    font-family: 'Poppins', sans-serif;

}

#bike {
    float: left;
    width: 50px;
    height: 50px;
}

.features {
    justify-content: flex-end;
    margin-left: 1200px;
    margin-top: 0;
}

li {
    display: inline-flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    margin: 30px 0px;
}

a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
}

nav {
    clear: left;
    text-align: center;
    margin: 50px;
}

h2,
.submit {
    margin: 20px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px;
}

.email {
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.submit {
    color: black;
    display: inline-block;
    background: rgb(255, 233, 31);
    padding: 4px, 3px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.submit:hover {
    color: orange;
}

section {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    margin: auto;
    font-size: large;
    padding: 20px;
}


.premium {
    padding: 20px;
    width: 700px;
    margin: 20px;
    justify-content: center;

}

.fast {
    padding: 20px;
    margin: 20px;
    justify-content: center;
}

.quality {
    padding: 20px;
    width: 700px;
    margin: 20px;
    justify-content: center;
}

i {
    color: orange;
    height: 50px;
    width: 50px;
    justify-content: center;
    float: left;
    font-size: 2.5em;
    padding: 10px;
    margin: 10px;
}

#video {
    text-align: center;
    margin: 100px;
}

.deals {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    margin: 50px;
    margin-top: 0px;
    text-align: center;
    font-size: 25px;
}

h5 {
    background: grey;
    height: 2em;
    padding: 10px 0px;
}


.basic {
    border: solid black 1px;
    margin: 50px;
    height: 350px;
    width: 350px;
    background: grey;

}

.plus {
    border: solid black 1px;
    margin: 50px;
    height: 350px;
    width: 350px;
    background: grey;
}

.delux {
    border: solid black 1px;
    margin: 50px;
    height: 350px;
    width: 350px;
    background: rgba(128, 128, 128, 0.336);
}

.sub {
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background: rgb(230, 207, 1);
}

.sub:hover {
    background: orange;
}